[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
flake8-commas = "*"
flake8-import-order = "*"
flake8-builtins = "*"
flake8-multiline-containers = "*"
flake8-print = "*"
pytest = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.9"
